@inject IUserInterface userService
@inject NavigationManager navigationManager
<div class="header">
    <h1>X formerly Twitter</h1>
    <select  @onchange="HandleSelection" style="margin-left: 10px;">
    <option value="" >"Select a user"</option>
    @foreach (var user in users)
    {
        <option value="@user.id">@user.name</option>
    }
</select>
</div>

@code{

    private List<User> users = new List<User>();
    
    private string selectedOption = "";
    private int userId =0;

    private void HandleSelection(ChangeEventArgs e){
        selectedOption = e.Value.ToString();
        Console.WriteLine(selectedOption);
        navigationManager.NavigateTo($"/user/{selectedOption}");
    }

    protected override async Task OnInitializedAsync(){
        users = await userService.GetUsersAsync();
    }
}