/* /Pages/Index.razor.rz.scp.css */
.profile[b-e0am652ugx]{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(https://images.pexels.com/photos/17152072/pexels-photo-17152072/free-photo-of-high-angle-shot-of-big-ben.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load);
    background-size: cover;
}
.avatar[b-e0am652ugx]{
    display: flex;
    gap: 20px;
    align-items: center;
    color: blue;
}
.comments[b-e0am652ugx]{
    margin:auto 10%;
    background: white;
    color: black;
    width: 75%;
}
.comment[b-e0am652ugx]{
    border-bottom: 1px solid azure;
    margin-left: 5%;
    
}
.posts[b-e0am652ugx]{
    border-radius:4px ;
    background: white;;
    color: black;
    margin: auto 15%;

}
.post[b-e0am652ugx]{
    margin: 2% 5%;
    border-radius: 3px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* .page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
} */
/* /Shared/NavMenu.razor.rz.scp.css */
.header[b-q51y8lmcz4]{
    background: linear-gradient(to right, #fc354c, #0abfbc);
    height: 4rem;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    display: flex;
    margin-bottom: 10px;
    /* text-align: center; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}
